html, body{
    scroll-behavior:smooth; 
    margin:0;
    padding:0;
}


.top{
  z-index: 3;
  position:fixed;
  font-size: 20px;
  padding-left: 15px;
  letter-spacing: 1px;
  color:#f2f2f2
}
.topnav{
  top:0;
  position:fixed;
  width:100%;
  height: 70px;
  background-color: #26272bcc;
  overflow: hidden;
  z-index: 2;
}
.topnav a{
  float: right;
  height: 100%;
  color: #f2f2f2;
  text-align: center;
  padding: 25px 16px;
  text-decoration: none;
  font-size: 17px;
  letter-spacing: 3px;
}
.topnav a:hover{
  background-color:#EBB594;
  color: whitesmoke;
} 
.topnav a.active{
  background-color: #EBB594;
  color: white;
}


table,
td {
    border: 1px solid #333;
}

thead,
tfoot {
    background-color: #333;
    color:whitesmoke;
}







body{
  background-color:whitesmoke;
} 
#image_pres{
  background:url("../Medias/ctyt.jpg");
  background-position: center;
  width:100%;
  height: 650px;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
#titre{
  font-size: 90px;
  position:absolute;
  width: 100%;
  line-height: 500px;
  text-align: center;
}
#accroche{
  text-align:center;
  font-size: 35px;
}
#sous{
  text-align: center;
  font-size: 20px;
}
#planning{
  padding-top: 35px;
  text-align: center;
  font-size: 25px;
}
#decembre{
  text-align: center;
  font-size: 20px;
}
.jours{
  text-align: center;
}
#Conteneur{
  width:100%;
  text-align: center;
}  
.liste{
  border-radius: 10px;
  text-align: left;
  border:solid 2px;
  display:inline-block;   
  width:14%;
  height: 115px;
  margin:auto 10px auto 10px;
}



#un{
  border-radius: 8px;
  background-color:#e0e0e0ab;
  margin-top: 50px;
  height: 333px;
  margin-left: 50px;
  margin-right: 50px;
}
#un .Menus{
  position:relative;
  top: 10%;
  left: 20%;
}
#un .Texte{
  position:relative;
  left:15px;
  top: 40px;
  width: 70%;
}
.img{
  float:right;
  height: 333px;     
}
             
#bouton1 {
  color:black;
  border-radius: 3px;
  position:absolute;
  background-color: whitesmoke;
  border: solid 1px black;
  top:1300px;
  left:400px;
  padding: 23px 34px;
  margin: 25px auto;
  justify-content: center;
  text-decoration: none;
  font-size: 20px;
}

#deux{
  border-radius: 8px;
  background-color:#e0e0e0ab;
  margin-top: 50px;
  height: 333px;
  margin-left: 50px;
  margin-right: 50px;
}
#deux .Propos{
  position:relative;         
  left:30%;
  top:40px
}
#deux .Text{
  position:relative;
  top: 40px;
  left:2%;
  width: 90%;
}
.img2{
  float:left;
  height: 333px;
}
#bouton2 {
  color:black;
  border-radius: 3px;
  position:absolute;
  background-color: whitesmoke;
  border: solid 1px black;
  top:1680px;
  left:850px;
  padding: 23px 34px;
  margin: 25px auto;
  justify-content: center;
  text-decoration: none;
  font-size: 20px;
}

#trois{
  border-radius: 8px;
  background-color:#e0e0e0ab;
  margin-top: 50px;
  height: 333px;
  margin-left: 50px;
  margin-right: 50px;
}
#trois .Contact{
  position:relative;
  top: 40px;
  left: 20%;
}
#trois .tex{
  position:relative;
  left:15px;
  top: 40px;
  width: 53%;
}
.img3{
  float:right;
  height: 333px;
}
#bouton3 {
  color:black;
  border-radius: 3px;
  position:absolute;
  background-color: whitesmoke;
  border: solid 1px black;
  top:1880px;
  left:400px;
  padding: 23px 34px;
  margin: 25px auto;
  justify-content: center;
  text-decoration: none;
  font-size: 20px;
}





.footer
{
  clear:both;
  background-color:#26272b;
  padding:25px 0 10px;
  font-size:15px;
  line-height:8px;
  color:whitesmoke;
  margin-top: 50px;
}

.footer h6{
  text-align: center;
  color:whitesmoke;
  font-size:26px;
  text-transform:uppercase;
  margin-top:20px;
  letter-spacing:1px
}
.footer a{
  color:whitesmoke;
}
.footer a:hover{
  color:#3E4C82;
  text-decoration:none;
}
.texteuh{
 text-align: center;
}
.footer h1{
  margin:0 0 30px 40px;
}
.footer p{
  margin:13px 0 0 40px;
}
.footer hr{
  border: 1px solid rgb(128, 128, 128);
}