html, body{
  scroll-behavior:smooth; 
  margin:0;
  padding:0;
}

.top{
  top:20px;
  z-index: 3;
  position:fixed;
  font-size: 20px;
  padding-left: 15px;
  letter-spacing: 1px;
  color:#f2f2f2;
  text-decoration:none
}
.topnav{
  top:0;
  position:fixed;
  width:100%;
  height: 70px;
  background-color: #26272bcc;
  overflow: hidden;
  z-index: 2;
}
.topnav a{
  float: right;
  height: 100%;
  color: #f2f2f2;
  text-align: center;
  padding: 25px 16px;
  text-decoration: none;
  font-size: 17px;
  letter-spacing: 3px;
}
.topnav a:hover{
  background-color:#EBB594;
  color: whitesmoke;
} 
.topnav a.active{
  background-color: #EBB594;
  color: white;
}




#body{
  background-color:whitesmoke;
} 
#Intro{
  text-align: center;
  font-size: 30px;
}



#Histoire{
  margin:50px 50px 50px 50px;
  height: 240px;
}
#Histoire .Titre{
  position:relative;
  letter-spacing: 1px;
  font-size: 30px;
  top:60px;
  left:40px;
}
#Histoire .Texte{
  position:relative;
  text-align: justify;
  width:85%;
  top:60px;
  left:40px;
}
#Histoire .image{
  position:relative;
  float:left;
  height: 400px;
}


#France{
  border-radius: 10px;
  position:relative;
  clear:both;
  top:50px;
  float: left;
  border: solid 1px;
  width:40%;
  left:6%;
  height: 250px;
}
#France .Titr{
  position:relative;
  text-align: center;
}
#France .Text{
  position:relative;
  text-align: center;
  padding-left:10px;
  padding-right:10px;
}
.Liste{
  position:relative;
  right: 15px;
  list-style: square;
}

#Responsable{
  border-radius: 10px;
  position:relative;
  top:50px;
  float:right;
  border: solid 1px;
  width:40%;
  right:6%;
  height: 250px;
}
#Responsable .Tit{
  text-align: center;
}
#Responsable .Tex{
  text-align: center;
  padding-left:10px;
  padding-right:10px;
}
#envie{
  position: relative;
  clear:both;
  top:80px;
  font-size: 20px;
  text-align: center;
}
#bouton1 {
  color:black;
  border-radius: 3px;
  position:relative;
  clear:both;
  background-color: whitesmoke;
  border: solid 1px black;
  top:110px;
  left:43%;
  padding: 23px 34px;
  margin: 25px auto;
  justify-content: center;
  text-decoration: none;
  font-size: 20px;
}
#trait_dessus{
  position: relative;
  clear:both;
  top:140px;
  height:2px;
  border-width:0;
  color:black;
  background-color:black;
} 




#Title{
  position:relative;
  font-size: 30px;
  clear:both;
  top:130px;
  text-align: center;
  letter-spacing: 1px;
}
#Anglais{
  line-height:1,5em;
  margin-left: 40px;
  width:80%
}
#Story{
  margin-top:170px;
}
#envie2{
  position: relative;
  clear:both;
  top:10px;
  font-size: 20px;
  text-align: center;
}
#bouton2{
  color:black;
  border-radius: 3px;
  position:relative;
  clear:both;
  background-color: whitesmoke;
  border: solid 1px black;
  top:30px;
  left:43%;
  padding: 23px 34px;
  margin: 25px auto 30px auto;
  justify-content: center;
  text-decoration: none;
  font-size: 20px;
}
.footer{
  position:relative;
  top:50px;
  background-color:#26272b;
  padding:25px 0 10px;
  font-size:15px;
  line-height:8px;
  color:whitesmoke;
  margin-top: 50px;
}

.footer h6{
  text-align: center;
  color:whitesmoke;
  font-size:26px;
  text-transform:uppercase;
  margin-top:20px;
  letter-spacing:1px
}
.footer a{
  color:whitesmoke;
}
.footer a:hover{
  color:#3E4C82;
  text-decoration:none;
}
.texteuh{
 text-align: center;
}
.footer h1{
  margin:0 0 30px 40px;
}
.footer p{
  margin:13px 0 0 40px;
}
.footer hr{
  border: 1px solid rgb(128, 128, 128);
}